@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  font-family: 'roboto';

}
body{
    background-color: #EAEBED;
    display: flex;
    align-items: center;
    justify-content: center;

}
label{
    font-weight: 600;
    font-size: larger;
}
.containerF{
    width: 50vw;
    font-size: 70%;
  backdrop-filter: blur(10px);
    background-color: #8f62d87c;
    padding: 3rem;
    border-radius: 1.3rem;
    color: #fff;
}
.item{
    margin-block: 7px;
}
.formContentPadding{
    padding: 3rem;
}
.btnColor{
    background-color: #EAEBED;
    color: #8f62d87c;
    margin-top: 2rem;
    width: 10rem;
    border: 1px solid #8f62d87c;
    
}
.btnColor:hover{
    background-color: transparent;
    color:#fff ;
    border: 1px solid #fff;

}
.CdLoginPagelink{
    margin-top: 0.5rem;
}
.radioOptions{
    margin-inline: 2rem;
}
#emailHelp{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;
font-size: larger;
}
#emailHelp >a {
    color: #7224ee;
    font-weight: 900;
  transition: .4s ease-in-out;

}
#emailHelp >a:hover{
    transform: scale(.8);
}